*RECORDATORIO* Conferencia Anual Internacional por la Integridad - CAII 2019

*Es importante que lea la siguiente información:*
1) Imprima su gafete y presentarlo durante el evento: https://enc-ticketing.org/
2) Lea las condiciones de participación: https://enc-ticketing.org/
3) Revise la agenda: https://enc-ticketing.org/

Le esperamos el 2 y 3 de diciembre a partir de las *07:45 horas*. 

En caso de no poder asistir, mucho agradeceremos utilizar su usuario y contraseña para darse de baja a través del siguiente link: xxxxxxxx